/*--------------------------------------------------------------
Header styles minus menu
--------------------------------------------------------------*/
.small-menu {
  text-align: right;
}
.nav-activate {
  cursor: pointer;
}
.masthead {
  background: hsl(0, 0%, 90%);
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}


.centered {
  height: 60px;
}

.main-menu {
  /*padding: .4em 1em;*/
  /*color: white;*/
  /*background: hsl(0, 0%, 20%);*/
  height: 100vh;
  width: 50vw;
  position: fixed;
  top: 0;
  background-color: green;

  margin-left: -100%;
  transition: .5s margin-left ease;
}



body.active .main-menu {
  margin-left: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
  /*background-color: red;*/
  /*height: 100vh;
  width: 50vw;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  /*flex-flow: row wrap;*/
  /*justify-content: center;*/

}

li {
  width: 100%;
  padding: 0;

  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.menu-links {
  color: white;
  padding: 10px 0;
  margin: 0;
  text-decoration: none;
  text-align:center;
  display:block;
}

.menu-links:hover {
  color: black;
  background-color: white;
  text-decoration: none;
}



@media screen and (min-width: 45em) {
  .main-menu {
    display: none;
  }

  .main-menu-2 {
    width: 100%;
    background-color: orange;
    transition: all 0.3s;
  }

  .main-menu-2 ul {
display: flex;
justify-content: center;
list-style: none;
}

  ul {
    margin: 0;
    padding: 0;

    height: 40px;
    width: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
                -ms-grid-row-align: baseline;
            align-items: baseline;

  }

  li {
    padding: 0;
    width: inherit;
    /*float: left;*/
    /*display: inline;*/
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .menu-links {
  padding: 6px 20px 7px 20px;
  display: block;
  }

  .menu-links:hover {
  }
}
@media (max-width: 720px) {
	.main-menu-2 {
		margin-left: -100%;
    transition: all 0.5s;
    background: red;
	width: 100%;
	}
  .main-menu-2 ul {
	display: flex;
	justify-content: center;
	list-style: none;
}

.main-menu-2 a {
	display: block;
	padding: 6px 20px 7px 20px;
}

.main-menu-2 a:hover {
	background: #fff;
	color: orange;
}
}
